<script setup></script>

<template>
  <main>
    <table class="ui celled table">
      <thead>
        <tr>
          <th>Filename</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="template in templates" :key="template">
          <td data-label="Filename">
            <a :href="`/api/download/${template}`">{{ template }}</a>
          </td>
        </tr>
      </tbody>
    </table>
  </main>
</template>
<script>
export default {
  data() {
    return {
      templates: []
    }
  },
  mounted() {
    this.axios.get('/api/templates').then((response) => {
      this.templates = response.data
    })
  },
  methods: {
    download(filename) {
      const url = `/api/download/${filename}`
      window.location.href = url
    }
  }
}
</script>
