<script setup>
import { RouterLink, RouterView } from 'vue-router'
</script>
<template>
  <div class="ui fixed stackable menu">
    <a href="#" class="header item">
      <img class="logo" src="@/assets/send.png" />
    </a>
    <a href="#" class="item">Hello</a>
    <div class="ui simple dropdown item">
      Select your notification type <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="#">Link Item</a>
        <a class="item" href="#">Link Item</a>
        <div class="divider"></div>
        <div class="header">Header Item</div>
        <div class="item">
          <i class="dropdown icon"></i>
          Sub Menu
          <div class="menu">
            <a class="item" href="#">Link Item</a>
            <a class="item" href="#">Link Item</a>
          </div>
        </div>
        <a class="item" href="#">Link Item</a>
      </div>
    </div>
    <div class="right item">
      <div class="ui input"><input type="text" placeholder="Search..." /></div>
    </div>
  </div>
  <RouterView />
</template>
